In [86]:
!pip install --upgrade geopandas
!pip install --upgrade pyshp
!pip install --upgrade shapely
!pip install --upgrade descartes
!pip install --upgrade geopy
!pip install --upgrade plotly

Requirement already up-to-date: geopandas in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied, skipping upgrade: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.19)
Requirement already satisfied, skipping upgrade: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied, skipping upgrade: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied, skipping upgrade: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.0.1)
Requirement already satisfied, skipping upgrade: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied, skipping upgrade: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied, skipping upgrade: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied, skipping upgrade: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied, skipping upgrade: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied, skipping upgrade: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already up-to-date: pyshp in /usr/local/lib/python3.7/dist-packages (2.1.3)
Requirement already up-to-date: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Requirement already up-to-date: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied, skipping upgrade: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.1)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)
Requirement already up-to-date: geopy in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.50)
Requirement already up-to-date: plotly in /usr/local/lib/python3.7/dist-packages (4.14.3)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)

In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas
import plotly.express as px

In [88]:
dfLabels = pd.read_csv('/content/drive/MyDrive/FIUBA/Organización de datos/orga-2021/PT1/train_labels.csv')

In [89]:
dfLabels

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [90]:
dfValues = pd.read_csv('/content/drive/MyDrive/FIUBA/Organización de datos/orga-2021/PT1/train_values.csv')

In [91]:
dfValues

        building_id  ...  has_secondary_use_other
0            802906  ...                        0
1             28830  ...                        0
2             94947  ...                        0
3            590882  ...                        0
4            201944  ...                        0
...             ...  ...                      ...
260596       688636  ...                        0
260597       669485  ...                        0
260598       602512  ...                        0
260599       151409  ...                        0
260600       747594  ...                        0

[260601 rows x 39 columns]

In [92]:
#agrego la columna damage_grade y la renombro
dfTerremoto = dfValues
dfTerremoto['damage_grade'] = dfLabels['damage_grade'] #esposible por que estan ordenados y mantienen el orden
dfTerremoto

        building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0            802906               6  ...                        0             3
1             28830               8  ...                        0             2
2             94947              21  ...                        0             3
3            590882              22  ...                        0             2
4            201944              11  ...                        0             3
...             ...             ...  ...                      ...           ...
260596       688636              25  ...                        0             2
260597       669485              17  ...                        0             3
260598       602512              17  ...                        0             3
260599       151409              26  ...                        0             2
260600       747594              21  ...                        0             3

[260601 rows x 40 columns]

In [93]:
dfTerremoto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
 39  damage_grade                            260601 non-null  int64
dtypes: int64(32), object(8)
memory usage: 79.5+ MB

sospecho que los que estan en damage_grade 3 son las has_superstructure_adobe_mud has_superstructure_mud_mortar_stone

In [94]:
#voy a dividir los años en tres categorias
df = dfTerremoto['age']
print(max(df.to_list()))

995

In [95]:
df = dfTerremoto['age']
print(min(df.to_list()))

0

In [96]:
a = max(df.to_list()) / 3
a

331.6666666666667

propidades antiguas 0 a 332, propidades media antuas 333 a 663, propiedades nuevas 664 a 995

In [97]:
print(dfTerremoto.columns.to_list())

['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id', 'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage', 'land_surface_condition', 'foundation_type', 'roof_type', 'ground_floor_type', 'other_floor_type', 'position', 'plan_configuration', 'has_superstructure_adobe_mud', 'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag', 'has_superstructure_cement_mortar_stone', 'has_superstructure_mud_mortar_brick', 'has_superstructure_cement_mortar_brick', 'has_superstructure_timber', 'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered', 'has_superstructure_rc_engineered', 'has_superstructure_other', 'legal_ownership_status', 'count_families', 'has_secondary_use', 'has_secondary_use_agriculture', 'has_secondary_use_hotel', 'has_secondary_use_rental', 'has_secondary_use_institution', 'has_secondary_use_school', 'has_secondary_use_industry', 'has_secondary_use_health_post', 'has_secondary_use_gov_office', 'has_secondary_use_use_police', 'has_secondary_use_other', 'damage_grade']

In [98]:
#quiero ver si las has_superstructure_rc_engineered y has_superstructure_rc_non_engineered tienen relación con alguna de las otras
dfTerremotoSuper = dfTerremoto.loc[lambda dfTerremoto: (dfTerremoto['has_superstructure_rc_engineered'] == 1)]
dfTerremotoSuper

        building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
53           288541              10  ...                        0             1
71           708530              26  ...                        0             2
108          635262              26  ...                        0             1
248          920565               6  ...                        0             1
311          799072               7  ...                        0             1
...             ...             ...  ...                      ...           ...
260213       539650               6  ...                        0             1
260271       161297               0  ...                        0             1
260458       177964              26  ...                        0             1
260530       344478               6  ...                        0             1
260532       155803               8  ...                        0             2

[4133 rows x 40 columns]

In [99]:
dfTerremotoSuper = dfTerremoto.loc[lambda dfTerremoto: (dfTerremoto['has_superstructure_rc_non_engineered'] == 1)]
dfTerremotoSuper

        building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
45           440102               7  ...                        0             1
99           697129              13  ...                        0             2
114          533100              27  ...                        0             1
140          958524              20  ...                        0             2
208         1025864              25  ...                        0             2
...             ...             ...  ...                      ...           ...
260498       244286               7  ...                        0             2
260510       278052              27  ...                        0             3
260520       353176              26  ...                        0             1
260550       534789               6  ...                        0             2
260589       858025               6  ...                        0             1

[11099 rows x 40 columns]

In [100]:
dfAgeConstruc = dfTerremoto[['building_id','age','has_superstructure_adobe_mud','has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag', 'has_superstructure_cement_mortar_stone', 'has_superstructure_mud_mortar_brick', 'has_superstructure_cement_mortar_brick', 'has_superstructure_timber', 'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered', 'has_superstructure_rc_engineered', 'has_superstructure_other','damage_grade']]

In [101]:
conditions = [
    ((dfAgeConstruc['has_superstructure_adobe_mud']==1) | \
     (dfAgeConstruc['has_superstructure_mud_mortar_stone']==1) | \
     (dfAgeConstruc['has_superstructure_mud_mortar_stone']==1) | \
     (dfAgeConstruc['has_superstructure_mud_mortar_brick']==1)),
    (dfAgeConstruc['has_superstructure_stone_flag']==1),
    ((dfAgeConstruc['has_superstructure_cement_mortar_stone']==1) | \
     (dfAgeConstruc['has_superstructure_cement_mortar_brick']==1)), \
     ((dfAgeConstruc['has_superstructure_timber']==1) | \
      (dfAgeConstruc['has_superstructure_bamboo']==1)), \
      (dfAgeConstruc['has_superstructure_other']==1)]
choices = ['barro', 'piedra', 'cemento','madera','otros']

new_col = np.select(conditions, choices, default='no_clasificados')
dfAgeConstruc.insert(loc=13, column='material_de_construccion', value=new_col)
dfAgeConstruc

        building_id  age  ...  material_de_construccion  damage_grade
0            802906   30  ...                     barro             3
1             28830   10  ...                     barro             2
2             94947   10  ...                     barro             3
3            590882   10  ...                     barro             2
4            201944   30  ...                     barro             3
...             ...  ...  ...                       ...           ...
260596       688636   55  ...                     barro             2
260597       669485    0  ...                     barro             3
260598       602512   55  ...                     barro             3
260599       151409   10  ...                   cemento             2
260600       747594   10  ...                     barro             3

[260601 rows x 15 columns]

In [102]:
dfAgeConstruc = dfAgeConstruc[['building_id','age','material_de_construccion','damage_grade']]
dfAgeConstruc

        building_id  age material_de_construccion  damage_grade
0            802906   30                    barro             3
1             28830   10                    barro             2
2             94947   10                    barro             3
3            590882   10                    barro             2
4            201944   30                    barro             3
...             ...  ...                      ...           ...
260596       688636   55                    barro             2
260597       669485    0                    barro             3
260598       602512   55                    barro             3
260599       151409   10                  cemento             2
260600       747594   10                    barro             3

[260601 rows x 4 columns]

In [103]:
dfAgeConstruc['cantidad'] = 1
dfAgeConstrucB = dfAgeConstruc[['material_de_construccion','cantidad']]
dfAgeConstrucB =dfAgeConstrucB.groupby('material_de_construccion').sum()
dfAgeConstrucB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                          cantidad
material_de_construccion
barro                       222380
cemento                      18043
madera                       10336
no_clasificados               6819
otros                          349
piedra                        2674

In [104]:
dfAgeConstruc

        building_id  age material_de_construccion  damage_grade  cantidad
0            802906   30                    barro             3         1
1             28830   10                    barro             2         1
2             94947   10                    barro             3         1
3            590882   10                    barro             2         1
4            201944   30                    barro             3         1
...             ...  ...                      ...           ...       ...
260596       688636   55                    barro             2         1
260597       669485    0                    barro             3         1
260598       602512   55                    barro             3         1
260599       151409   10                  cemento             2         1
260600       747594   10                    barro             3         1

[260601 rows x 5 columns]

propidades antiguas 0 a 332(no hay ninguno en el rango de 333 a 663 por en de voy a ampliar este rango hasta 190), propidades media antuas 333 a 663, propiedades nuevas 664 a 995

In [105]:
dfAntiG = dfAgeConstruc.loc[:,('damage_grade','age','cantidad','material_de_construccion')]
dfAntiG.loc[(dfAntiG.age < 19),'material_de_construccion'] = 'antiguo'
dfAntiG.loc[((dfAntiG.age > 18) & (dfAntiG.age < 61)),'material_de_construccion'] = 'semi-antiguo'
dfAntiG.loc[(dfAntiG.age > 60),'material_de_construccion'] = 'nuevo'
dfAntiG.columns = ['damage_grade','age','cantidad','antiguedad']
dfAntiG

        damage_grade  age  cantidad    antiguedad
0                  3   30         1  semi-antiguo
1                  2   10         1       antiguo
2                  3   10         1       antiguo
3                  2   10         1       antiguo
4                  3   30         1  semi-antiguo
...              ...  ...       ...           ...
260596             2   55         1  semi-antiguo
260597             3    0         1       antiguo
260598             3   55         1  semi-antiguo
260599             2   10         1       antiguo
260600             3   10         1       antiguo

[260601 rows x 4 columns]

In [106]:
dfConcat = dfAntiG['antiguedad']
dfAntiguedadDanio = pd.concat([dfAgeConstruc, dfConcat],axis=1)
dfAntiguedadDanio

        building_id  age  ... cantidad    antiguedad
0            802906   30  ...        1  semi-antiguo
1             28830   10  ...        1       antiguo
2             94947   10  ...        1       antiguo
3            590882   10  ...        1       antiguo
4            201944   30  ...        1  semi-antiguo
...             ...  ...  ...      ...           ...
260596       688636   55  ...        1  semi-antiguo
260597       669485    0  ...        1       antiguo
260598       602512   55  ...        1  semi-antiguo
260599       151409   10  ...        1       antiguo
260600       747594   10  ...        1       antiguo

[260601 rows x 6 columns]

In [107]:
#total antiguedades
dfTotalAntiGuedad = dfAntiguedadDanio[['antiguedad','cantidad']]
dfAntiGuedad = dfTotalAntiGuedad.groupby('antiguedad').count()
dfAntiGuedad

              cantidad
antiguedad
antiguo         134644
nuevo            12499
semi-antiguo    113458

In [108]:
#antiguos nuevos con barro
dfAge = dfAntiG.loc[dfAntiguedadDanio['material_de_construccion'] == 'barro',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo         103140
nuevo            12071
semi-antiguo    107169

In [109]:
#antiguos nuevos con cemento
dfAge = dfAntiguedadDanio.loc[dfAntiguedadDanio['material_de_construccion'] == 'cemento',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo          14910
nuevo              149
semi-antiguo      2984

In [110]:
#antiguos nuevos con madera
dfAge = dfAntiguedadDanio.loc[dfAntiguedadDanio['material_de_construccion'] == 'madera',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo           8689
nuevo               41
semi-antiguo      1606

In [111]:
#antiguos nuevos con no_clasificados
dfAge = dfAntiguedadDanio.loc[dfAntiguedadDanio['material_de_construccion'] == 'no_clasificados',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo           6155
nuevo               21
semi-antiguo       643

In [112]:
#antiguos nuevos con otros
dfAge = dfAntiguedadDanio.loc[dfAntiguedadDanio['material_de_construccion'] == 'otros',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo            285
nuevo                1
semi-antiguo        63

In [113]:
#antiguos nuevos con piedra
dfAge = dfAntiguedadDanio.loc[dfAntiguedadDanio['material_de_construccion'] == 'piedra',('age','cantidad','antiguedad')]
dfAgeC = dfAge[['antiguedad','cantidad']]
dfAgeC = dfAgeC.groupby('antiguedad').count()
dfAgeC

              cantidad
antiguedad
antiguo           1465
nuevo              216
semi-antiguo       993

In [114]:
#destruccion
dfDesTotal = dfAgeConstruc.loc[:,('damage_grade','cantidad','material_de_construccion')]
dfDesTotal.loc[(dfDesTotal.damage_grade == 3),'material_de_construccion'] = 'destruccion_total'
dfDesTotal.loc[(dfDesTotal.damage_grade == 2),'material_de_construccion'] = 'destruccion_parcial'
dfDesTotal.loc[(dfDesTotal.damage_grade == 1),'material_de_construccion'] = 'daño_leve'
dfDesTotal.columns = ['damage_grade','cantidad','grado_de_destruccion']
dfDesTotal

        damage_grade  cantidad grado_de_destruccion
0                  3         1    destruccion_total
1                  2         1  destruccion_parcial
2                  3         1    destruccion_total
3                  2         1  destruccion_parcial
4                  3         1    destruccion_total
...              ...       ...                  ...
260596             2         1  destruccion_parcial
260597             3         1    destruccion_total
260598             3         1    destruccion_total
260599             2         1  destruccion_parcial
260600             3         1    destruccion_total

[260601 rows x 3 columns]

In [115]:
dfConcat = dfDesTotal['grado_de_destruccion']
dfDestruc = pd.concat([dfAgeConstruc, dfConcat],axis=1)
dfDestruc

        building_id  age  ... cantidad  grado_de_destruccion
0            802906   30  ...        1     destruccion_total
1             28830   10  ...        1   destruccion_parcial
2             94947   10  ...        1     destruccion_total
3            590882   10  ...        1   destruccion_parcial
4            201944   30  ...        1     destruccion_total
...             ...  ...  ...      ...                   ...
260596       688636   55  ...        1   destruccion_parcial
260597       669485    0  ...        1     destruccion_total
260598       602512   55  ...        1     destruccion_total
260599       151409   10  ...        1   destruccion_parcial
260600       747594   10  ...        1     destruccion_total

[260601 rows x 6 columns]

In [116]:
#total destruccion
dfTotalDesc = dfDestruc[['grado_de_destruccion','cantidad']]
dftotalD = dfTotalDesc.groupby('grado_de_destruccion').count()
dftotalD

                      cantidad
grado_de_destruccion
daño_leve                25124
destruccion_parcial     148259
destruccion_total        87218

busco la cantidad de destruidos

In [117]:
#destridos barro
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'barro',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                 9628
destruccion_parcial     128952
destruccion_total        83800

In [118]:
#destridos cemento
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'cemento',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                 7167
destruccion_parcial       9963
destruccion_total          913

In [119]:
#destridos madera
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'madera',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                 3964
destruccion_parcial       5437
destruccion_total          935

In [120]:
#destridos no_clasificados
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'no_clasificados',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                 4132
destruccion_parcial       2536
destruccion_total          151

In [121]:
#destridos otros
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'otros',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                  181
destruccion_parcial        115
destruccion_total           53

In [122]:
#destridos piedra
dfAge = dfDestruc.loc[dfDestruc['material_de_construccion'] == 'piedra',('damage_grade','cantidad','grado_de_destruccion')]
dfAge = dfAge[['grado_de_destruccion','cantidad']]
dfAge = dfAge.groupby('grado_de_destruccion').count()
dfAge

                      cantidad
grado_de_destruccion
daño_leve                   52
destruccion_parcial       1256
destruccion_total         1366

In [123]:
dfConcat = dfAntiguedadDanio['antiguedad']
dfAntiguedadyDanio = pd.concat([dfDestruc, dfConcat],axis=1)
dfAntiguedadyDanio

        building_id  age  ... grado_de_destruccion    antiguedad
0            802906   30  ...    destruccion_total  semi-antiguo
1             28830   10  ...  destruccion_parcial       antiguo
2             94947   10  ...    destruccion_total       antiguo
3            590882   10  ...  destruccion_parcial       antiguo
4            201944   30  ...    destruccion_total  semi-antiguo
...             ...  ...  ...                  ...           ...
260596       688636   55  ...  destruccion_parcial  semi-antiguo
260597       669485    0  ...    destruccion_total       antiguo
260598       602512   55  ...    destruccion_total  semi-antiguo
260599       151409   10  ...  destruccion_parcial       antiguo
260600       747594   10  ...    destruccion_total       antiguo

[260601 rows x 7 columns]

In [124]:
#grado de destruccion de los antiguos
dfAntiguo = dfAntiguedadyDanio.loc[dfAntiguedadyDanio['antiguedad'] == 'antiguo',('cantidad','grado_de_destruccion')]
dfAntiguo = dfAntiguo.groupby('grado_de_destruccion').count()
dfAntiguo

                      cantidad
grado_de_destruccion
daño_leve                20041
destruccion_parcial      74888
destruccion_total        39715

In [125]:
#grado de destruccion de los semi-antiguo
dfSemiAntiguo = dfAntiguedadyDanio.loc[dfAntiguedadyDanio['antiguedad'] == 'semi-antiguo',('cantidad','grado_de_destruccion')]
dfSemiAntiguo = dfSemiAntiguo.groupby('grado_de_destruccion').count()
dfSemiAntiguo

                      cantidad
grado_de_destruccion
daño_leve                 4771
destruccion_parcial      65742
destruccion_total        42945

In [126]:
#grado de destruccion de los nuevos
dfNuevos = dfAntiguedadyDanio.loc[dfAntiguedadyDanio['antiguedad'] == 'nuevo',('cantidad','grado_de_destruccion')]
dfNuevos = dfNuevos.groupby('grado_de_destruccion').count()
dfNuevos

                      cantidad
grado_de_destruccion
daño_leve                  312
destruccion_parcial       7629
destruccion_total         4558

In [127]:
url = 'https://ipfs.io/ipfs/Qme79BeqBkrpwY1DK81uXRJG527NtdcCix53hKdgpKgJej?filename=terremoto.csv'
dfMatrialAntiguedad = pd.read_csv(url)
dfMatrialAntiguedad

            Source                 Dest   Value
0            barro              antiguo  103140
1            barro         semi-antiguo  107169
2            barro                nuevo   12071
3          cemento              antiguo   14910
4          cemento         semi-antiguo    2984
5          cemento                nuevo     149
6           madera              antiguo    8689
7           madera         semi-antiguo    1606
8           madera                nuevo      41
9   no_clasificado              antiguo    6155
10  no_clasificado         semi-antiguo     643
11  no_clasificado                nuevo      21
12           otros              antiguo     285
13           otros         semi-antiguo      63
14           otros               nuevos       1
15          piedra              antiguo    1465
16          piedra         semi-antiguo     993
17           pidra                nuevo     216
18         antiguo    destruccion-total   39715
19         antiguo  destruccion-parcial   74888
20         antiguo            daño-leve   20041
21    semi-antiguo    destruccion-total   42945
22    semi-antiguo  destruccion-parcial   65742
23    semi-antiguo            daño-leve    4771
24           nuevo    destruccion-total    4558
25           nuevo  destruccion-parcial    7629
26           nuevo            daño-leve      31

Con los datos anteriores y una herramienta externa se genera la siguiente imagen
![picture](https://ipfs.io/ipfs/QmQfeMGJkLcUwkPmdKkBzJKHRnAAwYu3hwh35VdSkKijQS?filename=TP1-orga.png)